<div class="content">
  <hr/>
  <div class="row">
    <div>
      <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
          <thead>
            <tr>
              <th>Title</th>
              <th>Year</th>
              <th>Director</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody id="search-results-body">
            <tr ng-repeat="movie in movies">
              <td><a href="#/movie/edit/{{movie._id}}">{{movie.title}}</a></td>
              <td><a href="#/movie/edit/{{movie._id}}">{{movie.year}}</a></td>
              <td><a href="#/movie/edit/{{movie._id}}">{{movie.director.lastName}}</a></td>
              <td><a href="#/movie/edit/{{movie._id}}">{{movie.country}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
