<div class="content">
  <hr/>
  <div class="row">
    <header ng-switch on="$location.path().indexOf('/movie/new') > -1">
      <h3 ng-switch-when="true">Add Movie</h3>
      <h3 ng-switch-when="false">View or edit Movie</h3>
    </header>
    <form id="MovieForm" name="MovieForm" class="form-horizontal" role="form">

      <div class="form-group" ng-class="{'has-error': MovieForm.title.$invalid}">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div id="titleControls" class="col-sm-10">
          <input id="title" name="title" type="text" class="form-control" ng-model="movie.title"></input>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': MovieForm.year.$invalid}">
        <label for="year" class="col-sm-2 control-label">Year</label>
        <div id="yearControls" class="col-sm-10">
          <input id="year" name="year" type="text" class="form-control" ng-model="movie.year"></input>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': MovieForm.director.$invalid}">
        <label for="director" class="col-sm-2 control-label">Director</label>
        <div id="directorControls" class="col-sm-10">
          <tbody>
            <div>
              <tr>
                <td>First Name
                  <input id="director_first_name" name="director_first_name" type="text" ng-model="movie.director.firstName"></input>
                </td>
                <td>Last Name
                  <input id="director_last_name" name="director_last_name" type="text" ng-model="movie.director.lastName"></input>
                </td>
              </tr>
            </div>
          </tbody>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': MovieForm.country.$invalid}">
        <label for="country" class="col-sm-2 control-label">Country</label>
        <div id="countryControls" class="col-sm-10">
          <input id="country" name="country" type="text" class="form-control" ng-model="movie.country"></input>
        </div>
      </div>

      <hr/>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="saveMovie" name="saveMovie" class="btn btn-primary" ng-disabled="isClean() || MovieForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
          <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
          <button id="deleteMovie" name="deleteMovie" class="btn btn-danger" ng-show="movie._id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
      </div>
    </form>
  </div>
  <hr/>
</div>
